# See https://github.com/j178/prek for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^pipelines/
repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
